body {
    padding-top: 60px;
    padding-bottom: 40px;
}

p,
li {
    font-size: 1.2em;
    line-height: 1.7em;
}

.sidebar li {
    padding-left: 1.5em;
    padding-bottom: 0.5em;
}

.btn-home {
    margin-right: 1.5em;
    margin-top: 0.2em;
    float: left;
}

.icon-twitter {
    background: url('../img/bird_gray_16.png') no-repeat left center ;
    padding-left: 18px;
    margin-left: -18px;
}

.clearboth {
    clear: both;
}
