---
layout: with_sidebar
---

<div class="hero-unit">
    <h1>
        {{ page.title }}
        <small>{{ page.date | date: "%d&nbsp;%B&nbsp;%Y" }}</small>
    </h1>
    {{ content }}
</div>
<a class="btn btn-home" href="/" title="Home">&larr;</a>

{% if site.related_posts %}
    <hr />
    <ul class="clearboth">
        {% for post in site.related_posts %}
            <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }} <small>({{ post.date | date: "%d&nbsp;%B&nbsp;%Y" }})</small></a></li>
        {% endfor %}
    </ul>
{% endif %}
