---
layout: base
---

<div class="row">
    <div class="sidebar span4">
        <h2>Michael Blatherwick</h2>
        <h3>This site:</h3>
        <ul class="unstyled">
            <li><a href="/">Blog</a></li>
            <li><a href="/thief/"><i>Thief</i> card game</a></li>
        </ul>

        <h3>Contact me:</h3>
        <ul class="unstyled">
            <li><a href="https://twitter.com/intent/user?screen_name=rogue_michael" class="icon-twitter">@rogue_michael</a></li>
            <li><a href="mailto:michael@michaelblatherwick.co.uk">Email me</a></li>
        </ul>
    </div>
    <div class="span8">
        {{ content }}
    </div>
</div>

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
