---
layout: base
---

<div class="row">
    <div class="sidebar span4">
        <h2>Michael Blatherwick</h2>
        <h3>This site:</h3>
        <ul class="unstyled">
            {% for page in site.pages %}
                {% if page.title %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <h3>Contact me:</h3>
        <ul class="unstyled">
            <li><a href="http://twitter.com/rogue_michael">@rogue_michael</a></li>
            <li><a href="mailto:michael@michaelblatherwick.co.uk">Email me</a></li>
        </ul>
    </div>
    <div class="span8">
        {{ content }}
    </div>
</div>
